.item{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
    
}
.itemName{
    font-weight: bold;
    padding: 6px;
}
.line{
    border: 1px solid #f4f4f4;
}
.deleteBtn{
    float: right;
    padding: 8px 16px;
    background-color: #f7ca18;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top:-5px ;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}